body { 
    font-size: 18pt;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: green;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}
        

button { 
    font-size: 20pt;
}

.Title_js { 
    text-align: center;
}

.button_link { 
    text-align: right;
}
            
.element_photo {
    text-align: center;
}

/* .Left_side {
    float: left;
    text-align: left;
}

.Middle {
    float: center;
    text-align: center;
}

.Right_side {
    float: right;
    text-align: right;
} */