h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: green;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}
        
body { font-size: 18pt;}
        
button { font-size: 20pt;}

.TMPOJS { text-align: center;}

.button_link { text-align: right;}