body { 
    font-size: 18pt;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;

}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}

button { 
    font-size: 20pt;
}

.Hello_World { 
    text-align: center;
}

.js_button { 
    text-align: center;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}